# Web Scraping Challenge :  Mission To Mars

In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd
import time

### NASA Mars News

In [2]:
# Retrieve page with the requests module
# response = requests.get(new_url) // NOT working with request method

In [3]:
# Opening the chrome browser using Splinter
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# URL of the website that needs to be scraped
news_url = 'https://mars.nasa.gov/news/'

# Visiting the url
browser.visit(news_url)

In [5]:
# Fetching the html of the web page
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [6]:
# Scrape News Title
news_title = soup.find('div', class_='content_title').a.text
news_title

'Mars Scientists Investigate Ancient Life in Australia'

In [7]:
# Scrape News Paragraph
news_paragraph = soup.find('div', class_='article_teaser_body').text
news_paragraph

"Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions. "

### JPL Mars Space Images - Featured Image

In [197]:
# Opening the chrome browser using Splinter
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [8]:
# url of website that needs to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
# Visiting the url
browser.visit(url)

In [9]:
# Clicking the link - 'Full Image' on the page
try:
    browser.click_link_by_partial_text('FULL IMAGE')
except Exception as e:
    print("Exception Occured :",e)

In [10]:
# Clicking the link - 'more info' on the page

# Sleeps for 10 seconds
time.sleep(10)

try:
    browser.click_link_by_partial_text('more info')
except Exception as e:
    print("Exception Occured :",e)

In [11]:
# Fetching the html of the web page
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain book information
full_image_url = soup.find_all('img', class_='main_image')[0]['src']

In [12]:
full_image_url

'/spaceimages/images/largesize/PIA20464_hires.jpg'

In [13]:
# Full URL of the Featured Image on the web page
featured_image_url = 'https://www.jpl.nasa.gov' + full_image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA20464_hires.jpg'

### Mars Weather

In [15]:
# URL of page to be scraped
weather_url = 'https://twitter.com/marswxreport?lang=en'

In [16]:
# Retrieve page with the requests module
response = requests.get(weather_url)

In [17]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup.prettify())

In [18]:
# scraping relevant element from the result
result = soup.find_all('div', class_="js-tweet-text-container")[0]
result

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 344 (2019-11-15) low -99.9ºC (-147.9ºF) high -23.3ºC (-9.9ºF)
winds from the SSE at 5.7 m/s (12.9 mph) gusting to 18.9 m/s (42.3 mph)
pressure at 6.80 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/KfHgLqxVBk">pic.twitter.com/KfHgLqxVBk</a></p>
</div>

In [19]:
# Scraping Mars Weather Tweet
weather = result.p.text
weather

'InSight sol 344 (2019-11-15) low -99.9ºC (-147.9ºF) high -23.3ºC (-9.9ºF)\nwinds from the SSE at 5.7 m/s (12.9 mph) gusting to 18.9 m/s (42.3 mph)\npressure at 6.80 hPapic.twitter.com/KfHgLqxVBk'

In [20]:
# Removing picture text from tweet
weather = weather.split('pic.twitter.com/')

In [21]:
# Latest Mars Weather Tweet
mars_weather = weather[0]
mars_weather

'InSight sol 344 (2019-11-15) low -99.9ºC (-147.9ºF) high -23.3ºC (-9.9ºF)\nwinds from the SSE at 5.7 m/s (12.9 mph) gusting to 18.9 m/s (42.3 mph)\npressure at 6.80 hPa'

### Mars Facts

In [223]:
# URL of page to be scraped
facts_url = 'https://space-facts.com/mars/'

In [224]:
# Pandas to scrape the table containing facts about the planet
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [225]:
# Fetching only first table of the page
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [226]:
# Rename column names
df_new = df.rename(columns={0:'Description',1:'Values'})
df_new

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [227]:
# Creating an index on 'Description' column
df_new.set_index('Description', inplace=True)
df_new

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [228]:
# Use Pandas to convert the data to a HTML table string.
html_table = df_new.to_html()

In [231]:
# Strip unwanted newlines to clean up the table
facts_table = html_table.replace('\n', '')
facts_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [232]:
# saving the html table string into an html file
df_new.to_html('mars_facts_table.html')

### Mars Hemispheres

In [15]:
# URL of page to be scraped
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [16]:
# Retrieve page with the requests module
response = requests.get(hemispheres_url)

In [17]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')
#print(soup.prettify())

In [18]:
# Visiting the USGS Astrogeology site here to scrape high resolution images & title for each of Mar's hemispheres.

# Finding all the headings in the main page
headings = soup.find_all('h3')

# List of hemisphere dictionaries
hemisphere_list = []

# Looping through each of the the heading links via splinter
for heading in headings:
    
    print(heading.text)
    #executable_path = {'executable_path': 'chromedriver.exe'}
    #browser = Browser('chrome', **executable_path, headless=False)
    browser.visit(hemispheres_url)
    
    try:
        # Clicking each of the links to the hemispheres in order to find the image url to the full resolution image.
        browser.click_link_by_partial_text(heading.text)
        html = browser.html
        # Parse HTML with Beautiful Soup
        soup = BeautifulSoup(html, 'html.parser')
        # Scraping the full resolution image from the navigated page
        result_image = soup.find('div',class_='downloads').ul.a['href']
        img_url = result_image
        print(img_url)
        # Scraping the hemisphere title from the navigated page
        title = soup.find('h2',class_='title').text
        print(title)
        print("-"*20)
        
        # Dictionary to store image url and title
        mars_hemispheres = {
                           'title' : title, 
                           'img_url':img_url
                           }
        # Adding each hemisphere info to the list
        hemisphere_list.append(mars_hemispheres)
        
    except Exception as e:
        print("Exception Occured :",e)

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Cerberus Hemisphere Enhanced
--------------------
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
--------------------
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
--------------------
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
--------------------

In [19]:
# List of dictionaries
hemisphere_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]